{{!--

<head>
  <link rel="stylesheet" href="/css/landing.css">
</head>
<div class="landing_container">
  <button id="documentation">
    <img src="/assets/Fex_doc.png" alt="fexLogo">
  </button>
  <button id="fex">
    <img src="/assets/Fex_panel.png" alt="fexLogo">
  </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/landing.js"></script> --}}

<head>
  <link rel="stylesheet" href="/css/landing.css">
</head>
<div class="landing_container">
  <img class="fex_logo_img_land" src="/assets/Fex.png" alt="Logo_fex">
  <img class="landing_title" id="health_check_img" src="/assets/health_check_fn.png" alt="health_check">
  <p class="landing_description">Esta es una ruta segura para comprobar, de forma visual, el correcto funcionamiento de
    <b>
      Fex - WooCommerce
  </p>
  </b>
  <p class="landing_description">Si usted desea ir hacia la documentación del plugin <b>Fex - WooCommerce</b>, presione
    el siguiente boton </p>
  <a class="fex_documentation_button" href="/docs">Documentación de Fex</a>
</div>