{{!-- <head>
  <link rel="stylesheet" href="/css/landing.css">
</head>
<div class="landing_container">
  <button id="documentation">
    <img src="/assets/Fex_doc.png" alt="fexLogo">
  </button>
  <button id="fex">
    <img src="/assets/Fex_panel.png" alt="fexLogo">
  </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/landing.js"></script> --}}

<h1 class="landing_title">Safe Route</h1>
<p class="landing_description">Esta es una ruta segura para comprobar el funcioamiento correcto de fex</p>
<p class="landing_description">Si usted desea ir hacia la documentación de <b>Fex</b>, presione <a href="/docs">aqui</a></p>