.landing_container {
margin-top: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}
/* Documentation button */
#documentation {
  height: 100%;
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,0%)/300% no-repeat,
  #e9a209;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
  calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}


#documentation:hover,
#documentation:focus-visible{
--_p: 50%;
--_i: 0;
}
#documentation:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}
/* Fex Button */

#fex{
  height: 100%;
  --c: #fff;
  /* text color */
   background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
     #e9a209;
  /* background color */
   color: #0000;
   border: none;
   transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
   text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
     calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
   outline-offset: .1em;
   transition: 0.3s;
}


#fex:hover,
#fex:focus-visible {
  --_p: 50%;
  --_i: 0;
}


#fex:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}