.navbar_navtag {
  background-color: rgba(204, 102, 51, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.navbar_options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar_options li {
  list-style: none;
}

.navbar_options a {
  color: #FFF;
  text-decoration: none;
}
