<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1>Bienvenido a Fex - WooCommerce docs.</h1>
    <p>Esta aplicación te permite conectar <b>Fex</b> como método de envío en tu tienda de <b>WooCommerce</b> y así
      seguir desde un solo lugar las operaciones logísticas de tu tienda.</p>
    <p>Durante el siguiente recorrido, obtendrás información necesaria para configurar y utilizar este plugin en tu
      tienda de <b>WooCommerce</b>.</p>
    <h3>Requisitos</h3>
    <p>Para operar con el plugin necesitarás tener una asociación con <b>Fex</b>, la cual puedes crearla comunicandote
      directamente con <a href="https://fex.cl">Fex</a> a través de su página</p>
    <p>Adicionalmente, para el correcto funcionamiento será necesario:</p>
    <ul>
      <li><b>WordPress</b>: versión 5.4 o superior.</li>
      <li><b>WooCommerce</b>: versión 4.3.2 o superior</li>
      <li><b>PHP</b>: versión 7.0 o superior</li>
    </ul>
    <h3>Plugin</h3>
    <p>Última versión estable <a id="link_SDK" href="">SDK Fex - WooCommerce 1.0.0</a></p>
  </div>
</div>