<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1>Configuración de la tienda</h1>
    <h3>Ajustes</h3>
    <p>
      Una vez activado el plugin, aparecerá en tu wordpress la opción de fex en barra de la izquierda de wordpress. Para
      poder configurarlo, es necesario que vayas a esa sección, y en el menú desplegable que aparecen 5 opciones
      disponibles.
    </p>
    <p class="fex_alert"> Si aún no has conectado tu plugin con las credenciales, te lo volvemos a explicar a continuación.</p>
    <img class="fex_images" src="/assets/fex_6.5.png" alt="config_1">
    <h3>Credenciales y País</h3>
    <p>
      Desde esta sección deberás definir la <b>Access_key</b> (provista por <a href="https://fex.cl">Fex</a>) y el país
      donde reside tu comercio.
    </p>
    <p class="fex_alert">Recuerda que el Access Key lo tienes que solicitar a <a href="https://fex.cl">Fex</a></p>
    <img class="fex_images" src="/assets/fex_1.png" alt="config_2">
    <p>
      Una vez ingresado estos campos, debes proceder a configurar la zona de envío y el horario de disponibilidad de
      envío.
    </p>
    <h3>Zona de envíos</h3>
    <p>Desde la opción de <b>Zona de envíos</b> podremos encontrar que podemos configurar el punto de retiro.</p>
    <img class="fex_images" src="/assets/fex_6.4.png" alt="config_envios_1">
    <p>
      Allí encontrarás una descripción de como configurar la zona de envío.
    </p>
    <img class="fex_images" src="/assets/fex_2.png" alt="config_envios_2">
    <p class="fex_alert">Es necesario obtener la latitud y la longitud de la posición desde alguna aplicación de
      navegación como Google Maps</p>
    <img class="fex_images" src="/assets/fex_8.png" alt="config_envios_2">
    <p>Al finalizar, clickea en <i>Guardar configuración </i></p>
    <h3>Horarios de envío</h3>
    <p>En esta parte de la configuración, deberás definir cuál es tú horario disponible para los retiros de los
      paquetes.</p>
    <img class="fex_images" src="/assets/fex_6.3.png" alt="config_envios_1">
    <p>Ten en cuenta el rango de horarios que ocupa <b>Fex</b>, ya que fuera de ese horario, no realiza los envíos. Si el
      horario que ocupas es el mismo, puedes dejar las configuraciónes por defecto</p>
    <img class="fex_images" src="/assets/fex_4.png" alt="config_envios_3">
    <p>Una vez finalizada la configuración de los horarios, clickea sobre <i>Guardar Horarios</i> para finalizar la
      configuración de <b>Fex</b></p>
    {{>buttons buttons}}
  </div>
</div>