<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1>Flujo del cliente</h1>
    <p>
      Cuando hayas finalizado correctamente la configuración e instalación del plugin en tu tienda, inmediatamente tus
      clientes tendrán disponible <b>Fex Programado</b> y <b>Fex Express</b> como medio de envío en el checkout.
    </p>
    <p>El cliente deberá elegir una de estas dos opciones para configurar su envío a travez de Fex</p>
    <p class="fex_alert"> El cliente debe definir la ubicación de destino para poder realizar la solicitud y calcular el
      costo del flete</p>
    <h3>Fex Programado</h3>
    <p class="add_sangría">Fex programado, es una forma de envío donde el cliente deberá fijar un horario en el que el
      producto le será
      enviado. Este horario no superará la hora definida tanto por Fex como por la tienda. </p>
    <img class="fex_images" src="/assets/fex_10.png" alt="cliente_envio_1">
    <p class="add_sangría">A su vez, el cliente tendrá la obligación de elegir un tipo de vehículo para el envío,
      teniendo disponible 6
      opciones.</p>
    <p class="add_sangría">Una vez definido el tipo de vehículo y la ubicación, aparecerá la cotización del envío, y al definir la
      fecha y el horario,
      estará disponible el botón de confirmación de método de envío</p>
    <h3>Fex Express</h3>
    <p class="add_sangría">Fex Express es una modalidad que tiene <b>Fex</b> en el que se hace el envío a partir de 90 minutos
      de haber realizado el pedido.
    </p>
    <img class="fex_images" src="/assets/fex_9.png" alt="cliente_envio_2">
    <p class="add_sangría">En este modo, el cliente solo deberá elegir el vehículo que se utilizará y el destino para el pedido.</p>
    <p class="fex_alert add_sangría">Ten en cuenta que, si el horario en que es solicitado el fex express, está fuera
      de los
      límites de Fex, éste será reprogramado para el día siguiente</p>
    <p class="add_sangría">Ya definido el vehículo y la ubicación, podrá verse la cotización
      y el botón de confirmación estará disponible</p>
    <h3>Finalización de la compra</h3>
    <p>Una vez elegido el método de envío, este se sumará al costo final de la compra en el carrito. <br>
      Cuando se finaliza la compra utilizando <b>Fex</b> com medio de envío, podrás ver la orden desde tu panel de
      control.</p>
    {{>buttons buttons}}
  </div>
</div>