<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
{{>navbar navbarOptions}}
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1 class="css-1n3b8my">Preguntas frecuentes</h1>
    <h2>¿Por qué no se visualiza el medio de envío en mi tienda?</h2>
    <ul>
      <li>
        <p><b><i>Las credenciales configuradas son inválidas.</i></b> Aunque es muy difícil que esto suceda ya que
          existen las
          validaciones correspondientes, es una posibilidad que debes tener presente, si sucede verifica que se hayan
          usado
          las credenciales correctas en el onboarding y en los ajustes.</p>
      </li>
      <li>
        <p><b><i>El plugin se encuentra desisntalado</i></b> En el <strong>Menu de administracion de WordPress</strong>
          ingresa a la
          sección <strong>Plugins &gt; Plugins instalados</strong> y verifica que el plugin se encuentre instalado. Si
          está
          instalado y el problema persiste, puedes intentar desinstalar e instalar de nuevo.</p>
      </li>
      <li>
        <p><b><i>El medio de envío no se encuentra activo</i></b> En el <strong>Menu de administracion de
            WordPress</strong> ingresa
          a la
          sección <strong>Plugins &gt; Plugins instalados</strong> y verifica que el plugin se encuentre activo, si no
          lo
          está presiona sobre el botón <strong>*Activar</strong> que verás en pantalla.</p>
      </li>
    </ul>
    {{!-- <p>Si consideras que no está sucediendo ninguna de estas, por favor contacta con soporte.</p> --}}
    <h2>¿Desde qué ciudad puedo ofrecer <i>Fex</i>?</h2>
    <p>Puedes ofrecer <strong>Fex</strong> desde las zonas en las que actualmente nos encontramos activos. Actualmente
      está funcionando solo en Santiago, Chile.</p>
    <h2>¿Puedo hacer envíos a todo el país?</h2>
    <p>No actualmente. La disponibilidad del servicio solo se encuentra en Santiago, Chile</p>
    <h2>¿Qué servicios están disponibles?</h2>
    <p>Envío de paquetes al domicilio de tus clientes o a un punto de retiro <strong>pickit</strong>, gestión de
      devoluciones y puntos drop off donde recepcionamos tus paquetes.</p>
    {{!-- <h2>¿Cómo sabe mi cliente que su pedido ya fue enviado?</h2>
    <p>Según el método de envío tu cliente recibirá notificaciones vía mail:</p>
    <ul>
      <li><strong>Email de confirmación de envío</strong>: apenas se genera la etiqueta, se envia un mail con el número
        de
        seguimiento.</li>
      <li><strong>Email de despacho de paquete</strong>: se le avisa a tu cliente que el paquete ya fue despachado.</li>
      <li><strong>Email de recepción en punto pickit</strong>: Si tu cliente eligió retirar su paquete en un punto
        pickit,
        se le avisará una vez que llegue a destino para que pueda retirarlo con el código pickit alfanumérico de 8
        dígitos y
        su documento de identificación.</li>
      <li><strong>Email de confirmación de retiro</strong>: Se envía un email para dar por finalizada la transacción,
        indicando que el paquete ya fue retirado o entregado al domicilio del comprador.</li>
    </ul> --}}
    {{!-- <h2 id="¿mi-cliente-puede-hacer-el-seguimiento-de-su-paquete" style="position: relative;"><a
        href="#%C2%BFmi-cliente-puede-hacer-el-seguimiento-de-su-paquete"
        aria-label="¿mi cliente puede hacer el seguimiento de su paquete permalink" class="anchor before"><svg
          aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16">
          <path fill-rule="evenodd"
            d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
          </path>
        </svg></a>¿Mi cliente puede hacer el seguimiento de su paquete?</h2>
    <p>Sí, a través de la plataforma de seguimiento podrá consultar el estado del envío, ingresando el código pickit
      alfanumérico de 8 dígitos en la sección "Sigue tu paquete".</p><a target="_blank" href="https://pickit.com.ar/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/argentina.png" alt="Argentina"></u></a><a target="_blank" href="https://pickit.com.mx/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/mexico.png" alt="México"></u></a><a target="_blank" href="https://pickit.com.co/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/colombia.png" alt="Colombia"></u></a><a target="_blank" href="https://pickit.com.cl/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/chile.png" alt="Chile"></u></a><a target="_blank" href="https://pickit.com.pe/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/peru.png" alt="Perú"></u></a><a target="_blank" href="https://pickit.com.uy/"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/uruguay.png" alt="Uruguay"></u></a> --}}
    {{!-- <h2>¿Qué artículos no están permitidos despachar?</h2>
    <ul>
      <li>Alimentos frescos.</li>
      <li>Armas de fuego, pólvora, municiones y afines.</li>
      <li>Corrosivos.</li>
      <li>Explosivos.</li>
      <li>Gases comprimidos y aerosoles.</li>
      <li>Líquidos inflamables.</li>
      <li>Materiales oxidantes.</li>
      <li>Sólidos inflamables.</li>
      <li>Venenos: líquido, sólido o gas.</li>
      <li>Animales vivos o especies vegetales vivientes.</li>
      <li>Asbestos (amianto).</li>
      <li>Drogas, narcóticos o estupefacientes prohibidas por ley: cocaína, marihuana, opio, morfina, medicamentos
        psicotrópicos y psicofármacos en general.</li>
      <li>Material biológico.</li>
      <li>Material radioactivo.</li>
      <li>Pinturas, barnices y sustancias similares.</li>
      <li>Polvos secos colorantes y no colorantes.</li>
    </ul>
    <h2>¿Cuáles son los canales de atención?</h2>
    <a target="_blank" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=contacto.cl@pickit.net"
      style="color: rgb(255, 108, 14); background: url(&quot;&quot;) 100% 0px / 16px 16px no-repeat; padding-right: 19px;"><u><img
          src="/img/chile.png" alt="Chile"></u></a> --}}
    {{>buttons buttons}}
  </div>

</div>