<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1>Acceso a paneles</h1>
    <h3>Panel Fex - WooCommerce</h3>
    <p>Adicional a tu panel de órdenes de WooCommerce, tendrás disponible también un panel donde sólo se mostrarán las
      órdenes cuyo medio de envío es <b>Fex</b>. </p>
    <p>Accede a traves de <b>Fex -> Panel de control </b></p>
    <img class="fex_images" src="/assets/fex_12.png" alt="">
    <p>En esta sección no solo encontraras todos los pedidos, sino tambien el costo de cada envío, el número de orden de
      WooCommerce, y más información</p>
    <p>Tambien podrás filtrarlos según el <i>Status Fex</i> de cada pedido, con los botones <b>Por Colectar, En camino,
        Entregados</b> y <b>Con problemas</b></p>
    <p class="fex_alert">El <b>status fex</b> es un estado que describe en que situación se encuentra cada envío. <br>
      Su descripción es muy transparente y comprensible</p>
    {{>buttons buttons}}
  </div>

</div>