<head>
  <link rel="stylesheet" href="/css/docs.css">
</head>
{{>navbar navbarOptions}}
<div class="docs_main_container">
  {{>sidebar navbarOptions}}
  <div class="docs_mainbody">
    <h1>Instalación y Onboarding</h1>
    <h3>Instalacion y activación</h3>
    <p>Para instalar el plugin en <b>WordPress</b> desde el archivo .zip, sigue estos pasos:</p>
    <ul>
      <li>Dirigete al menú de administriación y allí selecciona <b>Plugins -> Añadir nuevo</b></li>
      <li>En la parte superior de la pantalla selecciona el botón <b>Subir plugin</b></li>
      <li>Selecciona el archivo .zip guardado previamente en tu computadora (puedes encontrar la última versión del
        plugin en <a href="">Plugin</a> y selecciona el botón <b>Instalar ahora</b> )</li>
      <li>Una vez instalado, selecciona el botón <b>Activar</b></li>
    </ul>

    <h3>Onboarding </h3>
    <p>Una vez activado el plugin, se motrará la sección de <b>Onboarding</b>. Allí se realizará la configuración
      inicial para poder utilizar el plugin en tu tienda. En esta pantalla de bienvenida debes ingresar las credenciales
      solicitadas y el país donde opera tu tienda para conectar tu cuenta de <b>Fex</b> con <b>WooCommerce</b>.
      Seguidamente, presionar el botón <i>Ingresar</i></p>
    <img class="fex_images" src="/assets/fex_1.png" alt="onboarding">
    <p>Una vez hecho lo anterior, solo resta realizar las configuraciones necesarias en tu tuenda para comenzar a operar
      con <b>Fex</b></p>
  </div>

</div>